@mixin propiedades_boton {
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: default;

  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}

@mixin propiedades_btn_eval {
  text-decoration: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: default;

  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}

@mixin propiedades_btn_cuadrado {
  text-decoration: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  border-radius: 0.75rem;
  transition: all 0.2s;
  position: relative;
  font-size: default;

  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    color: white;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}

// --LOGIN--

.btn-close {
  background-color: #ea872d;
  border-radius: 50%;
}

// --BIBLIOGRAFÍA--

.biblio-btn {
  background-color: #febe10;
  @include propiedades_boton();
}

.btn-cat-biblio {
  @include propiedades_btn_cuadrado();
  background: linear-gradient(
    to right bottom,
    rgba(#6666cc, 1),
    rgba(#8080d3, 0.8)
  );
}

// --EVALUACIÓN--

.btn__eval--text {
  display: inline-block;
}

.btn-inicio {
  background-color: #febe10;
  @include propiedades_btn_eval();
}

.btn-green {
  background: linear-gradient(
    to right bottom,
    rgba(#4acab9, 1),
    rgba(#64d8c9, 0.8)
  );
  @include propiedades_boton();
  margin-bottom: 2.5rem;
}

.btn-yellow {
  background: linear-gradient(
    to right bottom,
    rgba(#febe10, 1),
    rgba(#ecc558, 0.8)
  );
  @include propiedades_boton;
}

.btn-darkblue {
  background: linear-gradient(
    to right bottom,
    rgba(#035e7b, 1),
    rgba(#137191, 0.8)
  );
  @include propiedades_boton();
  color: white;
  &:hover {
    color: white;
  }
}

.see-design-btn {
  background-color: #8e3e78;
  background: linear-gradient(
    to right bottom,
    rgba(#8e3e78, 1),
    rgba(#854573, 0.8)
  );
  color: white;
}

.btn-purple {
  background: linear-gradient(
    to right bottom,
    rgba(#6666cc, 1),
    rgba(#7878ce, 0.8)
  );
  color: white;
  @include propiedades_boton();
  &:hover {
    color: white;
  }
}

// --CASOS--

.btnAgregarCaso {
  background: linear-gradient(
    to right bottom,
    rgba(#035e7b, 1),
    rgba(#137191, 0.8)
  );
  color: white;
  margin-top: 1.875rem;
  @include propiedades_btn_cuadrado();
}

.btnAgregarComplementario {
  background: linear-gradient(
    to right bottom,
    rgba(#febe10, 1),
    rgba(#f3c74e, 0.8)
  );
  @include propiedades_btn_cuadrado();
}

.btnDescargarFicha {
  background: linear-gradient(
    to right bottom,
    rgba(#198754, 1),
    rgba(#41a074, 0.8)
  );
  @include propiedades_btn_cuadrado();
}
