// --LOGIN--

.btn-close {
  background-color: #ea872d;
  border-radius: 50%;
}

// --BIBLIOGRAFÍA--

.biblio-btn {
  background-color: #febe10;
}

.btn-cat-biblio {
  background-color: #6666cc;
}

// --EVALUACIÓN--

.btn-green {
  background-color: #4acab9;
}

.btn-yellow {
  background-color: #f0cc42;
}

.btn-darkblue {
  background-color: #035e7b;
}

.see-design-btn {
  background-color: #8e3e78;
  color: white;
}

.btn-purple {
  background-color: #6666cc;
  color: white;
}

// --CASOS--

.btnAgregarCaso {
  margin-top: 1.875rem;
}
