.card__design {
  margin-left: 35px;
  margin-right: 35px;
}

.card__design--img {
  width: 75%;
  height: 15rem;
}

.card__contenido {
  padding-left: 2rem;
  padding-right: 2.5rem;
}

.card__contenido--ver {
  color: blue;
  display: inline-block;

  &::after {
    color: blue;
  }
}

.card__herramientas {
  background-color: #035e7b;
  background: linear-gradient(
    to right bottom,
    rgba(#035e7b, 1),
    rgba(#13617a, 0.8)
  );
  color: white;
  height: 12rem;
  margin-top: 6rem;
  margin-left: 3rem;
  margin-right: 2rem;
  border-radius: 12px;
}

.card__video {
  background-color: black;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 20rem;
}

.card__video--flecha {
  margin-top: 1.5rem;
}

.card__video--flecha2 {
  margin-top: 1.5rem;
}
