.bg-navegacion{
    background-color: #035E7B;
}

.navigation-font{
    color: white;
}

.imagen_superior{
    height: 100px;
    background-image: url("https://trabajosocial.uc.cl/images/portadas/portada2.jpg");
}

.encabezado_inicio{
    height: 200px;
    background-color: #B64E9B;
    color: white;
}

.inicio_2{
    height: 200px;
    background-color: white;
}

.inicio_3{
    height: 200px;
    background-color: #4ACAB9;
}

.inicio_4{
    height: 200px;
    background-color: white;
}

