* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h3 {
  color: white;
}

.white-font {
  color: white;
}

.center-element {
  text-align: center;
}

.justificar-texto {
  text-align: justify;
}

.margen-superior {
  margin-top: 1.875rem;
}

.margen-inferior {
  margin-bottom: 1.875rem;
}

.margenes-costado {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.centrar-total {
  color: white;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-close {
  background-color: #ea872d;
  border-radius: 50%;
}

.biblio-btn {
  background-color: #febe10;
}

.btn-cat-biblio {
  background-color: #6666cc;
}

.btn-green {
  background-color: #4acab9;
}

.btn-yellow {
  background-color: #f0cc42;
}

.btn-darkblue {
  background-color: #035e7b;
}

.see-design-btn {
  background-color: #8e3e78;
  color: white;
}

.btn-purple {
  background-color: #6666cc;
  color: white;
}

.btnAgregarCaso {
  margin-top: 1.875rem;
}

.card__design {
  margin-left: 35px;
  margin-right: 35px;
}

.card__design--img {
  width: 75%;
  height: 15rem;
}

.card__contenido {
  padding-left: 2rem;
  padding-right: 2.5rem;
}

.card__herramientas {
  background-color: #035e7b;
  color: white;
  height: 12rem;
  margin-top: 6rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

.card__video {
  background-color: black;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 20rem;
}

.encabezado_inicio {
  height: 12.5rem;
  background-color: #b64e9b;
  color: white;
  padding-left: 2.5rem;
  padding-right: 300px;
  padding-top: 25px;
  text-align: justify;
}

.encabezado-sub {
  height: 6rem;
  background-color: #ea872d;
  color: white;
  padding-left: 2.5rem;
  padding-right: 300px;
  padding-top: 25px;
  text-align: justify;
}

.imagen_superior {
  height: 100px;
  background-image: url("https://trabajosocial.uc.cl/images/portadas/portada2.jpg");
}

.encabezado {
  height: 14rem;
  background-color: #b64e9b;
  color: white;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  text-align: justify;
}

.navbar-dark {
  font-size: 1.2rem;
}

.item-margen {
  margin-left: 1rem;
}

.nav-margen {
  margin-left: 1.5rem;
}

.bg-navegacion {
  background-color: #035e7b;
}

.bibliografia__categorias {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  height: 40rem;
}

.bibliografia__categorias--descripcion {
  padding-top: 35%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.bibliografia__categorias--logo {
  margin-top: 16rem;
}

.bibliografia__cont__tabla {
  margin-left: 5rem;
  margin-right: 5rem;
}

.bibliografia__categorias--uno {
  background-color: #b64e9b;
}

.bibliografia__categorias--dos {
  background-color: #f0cc42;
}

.bibliografia__categorias--tres {
  background-color: #4acab9;
}

.bibliografia__categorias--cuatro {
  background-color: #ea872d;
}

.bibliografia__categorias--cinco {
  background-color: #6666cc;
  padding-left: 1.5rem;
}

.index__descripcion--texto {
  padding-left: 3rem;
  padding-right: 3rem;
}

.index__descripcion {
  height: 800px;
  background-color: white;
}

.index__descripcion--texto-logos-img {
  height: 5rem;
  width: 5rem;
}

.index__equipo--academico-foto {
  height: 16rem;
  width: 16rem;
  margin-left: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.index__equipo--web-foto {
  height: 16rem;
  width: 16rem;
  margin-left: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.index__equipo--web {
  justify-content: space-between;
}

.index__tutorial {
  height: 10rem;
  background-color: #4acab9;
}

.index__tutorial--texto {
  height: 12rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  text-align: justify;
  color: white;
}

.index__video {
  height: 200px;
  background-color: white;
}

.index__descripcion--texto-logos {
  text-align: center;
}

.casos__subsecciones__bibliografia--header {
  background-color: #f0cc42;
}

.casos__subsecciones__complementario--header {
  background-color: #035e7b;
}

.casos__card {
  margin-top: 1.25rem;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 1.25rem;
  height: 67.5rem;
}

.casos__subsecciones {
  margin-left: 50px;
  margin-right: 50px;
  height: 1.25rem;
}

.casos__card--titulo {
  display: flex;
  justify-content: space-between;
  background-color: #6666cc;
  color: white;
}

.casos__card--video {
  background-color: black;
}

.contenidos__basicos {
  background-color: white;
  height: 24rem;
}

.contenidos__micro {
  background-color: #37988b;
  height: 24rem;
}

.contenidos__macro {
  background-color: #8e3e78;
  height: 24rem;
}

.contenidos__descripcion {
  background-color: #035e7b;
  color: white;
  margin-top: 4.375rem;
  margin-left: 2.5rem;
  margin-right: 1.875rem;
  height: 12rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.contenidos__descripcion--2 {
  background-color: #035e7b;
  color: white;
  margin-top: 4.375rem;
  margin-left: 1.875rem;
  margin-right: 2.5rem;
  height: 12rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.contenidos__textos-descripcion {
  text-align: justify;
}

.contenidos__items {
  margin-top: 1.875rem;
  text-align: center;
}

.evaluaciones__contenido__comentarios--content {
  background-color: white;
  height: 10rem;
  width: 90%;
}

.evaluaciones__contenido__comentarios {
  height: 18rem;
  background-color: #febe10;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.evaluaciones__modelos--ejemplo {
  height: 18.5rem;
  background-color: #6666cc;
  color: white;
  margin-left: 3rem;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.evaluaciones__modelos--comunidad {
  height: 18.5rem;
  background-color: #4acab9;
  color: white;
  margin-left: 2rem;
  margin-right: 3rem;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.evaluaciones__contenido__margen {
  padding-left: 2rem;
}

.evaluaciones__form--color {
  background-color: #8e3e78;
}

.evaluaciones__form--titulos {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}
