.navbar-dark {
  font-size: 1.2rem;
}

.item-margen {
  margin-left: 1rem;
}

.nav-margen {
  margin-left: 1.5rem;
}

.bg-navegacion {
  background: linear-gradient(
    to right bottom,
    rgba(#035e7b, 1),
    rgba(#1e667e, 0.9)
  );
}

.Usuario {
  margin-left: 1rem;
  margin-top: 0.3rem;
}
