.bibliografia {
}

.bibliografia__categorias {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  height: 40rem;
}

.bibliografia__categorias--descripcion {
  padding-top: 35%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.bibliografia__categorias--logo {
  margin-top: 16rem;
}

.bibliografia__cont {
}

.bibliografia__cont__tabla {
  margin-left: 5rem;
  margin-right: 5rem;
}

.bibliografia__categorias--uno {
  background-color: #b64e9b;
}

.bibliografia__categorias--dos {
  background-color: #f0cc42;
}

.bibliografia__categorias--tres {
  background-color: #4acab9;
}

.bibliografia__categorias--cuatro {
  background-color: #ea872d;
}

.bibliografia__categorias--cinco {
  background-color: #6666cc;
  padding-left: 1.5rem;
}
