.index {
}

.index__descripcion--texto {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
}

.index__descripcion {
  height: 52rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(white, 1),
      rgba(white, 0.85)
    ),
    url("https://trabajosocial.uc.cl/images/pregrado/VidaUniversitaria/UC-Corporativa-Ganderats-0222.jpg");
  background-size: contain;
  background-position: top;
  position: relative;
}

.index__descripcion--texto-logos-img {
  height: 5rem;
  width: 5rem;
}

.index__equipo--academico-foto {
  height: 16rem;
  width: 16rem;
  margin-left: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.index__equipo--web-foto {
  height: 16rem;
  width: 16rem;
  margin-left: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.index__equipo--web {
  justify-content: space-between;
}

.index__tutorial {
  background-color: #4acab9;
  background-image: linear-gradient(
      to right bottom,
      rgba(#4acab9, 1),
      rgba(#66a8a0, 0.7)
    ),
    url("https://w7.pngwing.com/pngs/103/232/png-transparent-digital-technology-blue-background-banner-beam-lines-blue-science-and-technology-digital.png");
  background-size: contain;
  background-position: top;
  position: relative;
}

.index__tutorial--texto {
  height: 12rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: justify;
  color: white;
}

.index__video {
  height: 200px;
  background-color: white;
}

.index__descripcion--texto-logos {
  text-align: center;
}
