.casos__subsecciones__bibliografia--header {
  background: linear-gradient(
    to right bottom,
    rgba(#f0cc42, 1),
    rgba(#d1ba5e, 0.9)
  );
}

.casos__subsecciones__complementario--header {
  color: white;
  background: linear-gradient(
    to right bottom,
    rgba(#035e7b, 1),
    rgba(#2c687c, 0.9)
  );
}

.casos__card {
  margin-top: 1.25rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1.25rem;
  height: 75rem;
}

.casos__subsecciones {
  margin-left: 50px;
  margin-right: 50px;
  height: 1.25rem;
}

.casos__card--titulo {
  margin: 0 0.01rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
  color: white;
  background: linear-gradient(
    to right bottom,
    rgba(#6666cc, 1),
    rgba(#8c8cc9, 0.9)
  );
}

.casos__card--ficha {
  margin-top: 3rem;
}

.casos__card--titulo-flecha {
  text-align: right;
}

.casos__card--video {
  background-color: black;
}

.casos__subsecciones__bibliografia {
  margin-top: 4rem;
}

.casos__subsecciones__complementario {
  margin-top: 4rem;
}
