.casos__subsecciones__bibliografia--header {
  background-color: #f0cc42;
}

.casos__subsecciones__complementario--header {
  background-color: #035e7b;
}

.casos__card {
  margin-top: 1.25rem;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 1.25rem;
  height: 67.5rem;
}

.casos__subsecciones {
  margin-left: 50px;
  margin-right: 50px;
  height: 1.25rem;
}

.casos__card--titulo {
  display: flex;
  justify-content: space-between;
  background-color: #6666cc;
  color: white;
}

.casos__card--video {
  background-color: black;
}
