.contenidos__basicos {
  background-color: white;
  height: 24rem;
}

.contenidos__micro {
  background-color: #37988b;
  height: 24rem;
}

.contenidos__macro {
  background-color: #8e3e78;
  height: 24rem;
}

.contenidos__descripcion {
  background-color: #035e7b;
  color: white;
  margin-top: 4.375rem;
  margin-left: 2.5rem;
  margin-right: 1.875rem;
  height: 12rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.contenidos__descripcion--2 {
  background-color: #035e7b;
  color: white;
  margin-top: 4.375rem;
  margin-left: 1.875rem;
  margin-right: 2.5rem;
  height: 12rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.contenidos__textos-descripcion {
  text-align: justify;
}

.contenidos__items {
  margin-top: 1.875rem;
  text-align: center;
}
