.evaluaciones__contenido__comentarios--content {
  background-color: white;
  height: 10rem;
  width: 90%;
}

.evaluaciones__contenido__comentarios {
  height: 18rem;
  background-color: #febe10;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.evaluaciones__modelos--ejemplo {
  height: 18.5rem;
  background-color: #6666cc;
  color: white;
  margin-left: 3rem;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.evaluaciones__modelos--comunidad {
  height: 18.5rem;
  background-color: #4acab9;
  color: white;
  margin-left: 2rem;
  margin-right: 3rem;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.evaluaciones__contenido__margen {
  padding-left: 2rem;
}

.evaluaciones__form--color {
  background-color: #8e3e78;
}

.evaluaciones__form--titulos {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}
